.footer{
    width: 100%;
    display: flex;
    background-color: var(--secondary-color);
    margin-top: 50px;   
    flex-direction: column;
    align-items: center;
    position: absolute;
    
        .pre-footer{
            background-color: var(--primary-color);
            display: flex;
            gap: 10px;
            position: relative;
            top: -50px;
            width: 1200px;
            padding: 20px;
            .item{
                display: flex;
                flex-direction: column;
                color: var(--white-color);
                flex: 1 1 0;
                .item-icon{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }
        .top{
            width: 1200px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--white-color);
            .desc{
                width: 50%;
                
                .social-links{
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 25px;
                }
            }
            .footerlinks{
                display: flex;
                gap: 20px;
                .quick-links{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
                .products{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }
        .bottom{
            width: 100%;
            background-color: var(--dark-color);
            color: var(--white-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            .container{
                width: 1200px;
                display: flex;
                justify-content: space-between;
                padding: 30px 0px;
                .company{
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    hr{
                        height: 20px;
                    }
                }
            }
        }
    
}

@media only screen and (max-width: 600px){
    .footer{
        width: 100%;
        .pre-footer{
            display: block;
            width: 70%;
            .item{
                padding: 10px;
            }
        }

        .top{
            display: flex;
            flex-direction: column-reverse;
            .desc{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                .logo{
                    max-width: 200px;
                }
                p{
                    display: none;
                }
                
            }

            .footerlinks{
                display: flex;
                gap: 20px;
            }
        }

        .bottom{
            .container{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                .copyright{
                    word-wrap: break-word;
                    text-align: center;
                }
                hr{
                    display: none;
                }
            }
        }

        
    }
}